[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastcore = "*"
ipywidgets = "==7.7.2"
jupyter = "*"
streamlit = "*"
tqdm = "*"
tabulate = "*"

[dev-packages]
black = "*"
ipykernel = "*"
isort = "*"
mypy = "*"
nbdev = "*"
nbqa = "*"
pipenv-setup = "==3.2.0"
pre-commit = "*"
vistir = "==0.6.1"
stqdm = "*"

[requires]
python_version = "3.8"
