[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastcore = "*"
ipywidgets = "==7.7.2"
jupyter = "*"
stqdm = "*"
streamlit = "==1.18"
tabulate = "*"
tqdm = "*"

[dev-packages]
black = "==23.1.0"
ipykernel = "*"
isort = "*"
mypy = "*"
nbdev = "*"
nbqa = "*"
pipenv-setup = "==3.2.0"
pre-commit = "*"
vistir = "==0.6.1"
packaging = "==21.3"
build = "*"
twine = "*"

[requires]
python_version = "3.10"
